# Python Coding
## python programming language

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
x = 10

if x == 0:
    print("x is zero")
else:
    print("x is",x)

print("All done")

x is 10
All done

In [ ]:
x = -4
y =abs(x)
print(x)
print(y)

-4
4

In [ ]:
print(min(10,20,30,40,90))

print(round(1.12345678,3))

10
1.123