# Python Coding
## python programming language

# Dates and times

In [44]:
print("Hello, World!")

Hello, World!

In [45]:
# print a number
print(25)

25

In [46]:
# This is an example of a multiline comment
# created using multiple single-line commenced
# The code prints the text Hello World
print("Hello, World!")

Hello, World!

In [47]:
'''This is an example
of multiline comment'''
print("Hello, World!")

Hello, World!

In [48]:
number1 = 10
number2 = 15

sum = number1 + number2

print("The sum is:", sum)
# print('The product is:', product)

The sum is: 25

In [49]:
# assign value to site_name variable
site_name = 'programiz.pro'

print(site_name)

# Output: programiz.pro

programiz.pro

In [50]:
site_name = 'programiz.pro'
print(site_name)

# assigning a new value to site_name
site_name = 'apple.com'

print(site_name)

programiz.pro
apple.com

In [51]:
a, b, c = 5, 3.2, 'Hello'

print (a)  # prints 5
print (b)  # prints 3.2
print (c)  # prints Hello

5
3.2
Hello

In [52]:
integer_number = 123
float_number = 1.23

new_number = integer_number + float_number

# display new value and resulting data type
print("Value:",new_number)
print("Data Type:",type(new_number))

Value: 124.23
Data Type: <class 'float'>

In [53]:
num_string = '12'
num_integer = 23

print("Data type of num_string before Type Casting:",type(num_string))

# explicit type conversion
num_string = int(num_string)

print("Data type of num_string after Type Casting:",type(num_string))

num_sum = num_integer + num_string

print("Sum:",num_sum)
print("Data type of num_sum:",type(num_sum))

Data type of num_string before Type Casting: <class 'str'>
Data type of num_string after Type Casting: <class 'int'>
Sum: 35
Data type of num_sum: <class 'int'>