# Python Coding
## python programming language

In [22]:
print("Hello World!")

Hello World!

In [23]:
x = 10

if x == 0:
    print("x is zero")
else:
    print("x is",x)

print("All done")

x is 10
All done

In [24]:
x = -4
y =abs(x)
print(x)
print(y)

-4
4

In [25]:
print(min(10,20,30,40,90))

print(round(1.12345678,3))

10
1.123

In [26]:
import math

print(math.sqrt(81))

print(math.sqrt(99))

9.0
9.9498743710662

In [27]:

username = "Alan"
print(f"Hello {username}")

print("Hello {username}")

Hello Alan
Hello {username}